@font-face {
  font-family: 'vazir';
  src: url('../fonts/Vazir-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Vazir-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Vazir-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Vazir-Medium.woff') format('woff'); /* Pretty Modern Browsers */
}
* {
	margin: 0;
	padding: 0;
}

body {
	direction: rtl;
	font-family: 'vazir';
    height: 100vh;
}

#container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #151729;
	background-image: url('../images/p404.png');
}

#container .content {
	width: 600px;
	margin: 0 auto;
	text-align: center;
}

#container .content h2 {
	font-size: 300px;
	color: #fff;
}
#container .content h4 {
	font-size: 34px;
	color: #fff;
	/* margin-top: -100px; */
	position: relative;
}
#container .content p {
	font-size: 16px;
	color: #fff;
	margin: 25px 0 40px;
}
 
 #container .content a {
	text-decoration: none;
	color: #fff;
	background-color: #005aff;
	padding: 10px 20px;
	border-radius: 25px;
 }